{% extends 'base.html'%} {% block title %}
<title>Gratitude concert</title> {% endblock%} {% block style %}
<style>
    section {
        min-height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 1.5rem;
    }
    
    section h2 {
        text-align: center;
        background-color: rgb(223, 86, 33);
        height: 10vh;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
</style>
{% endblock %} {% block content%}
<section>
    <h2>
        Registration was successful. Thank You!
    </h2>
</section>
{% endblock %}